.container {
  position: relative;
  z-index: 1;
  // margin-top: 26px;
}

.story {
  position: relative;
  min-height: 140px;
  box-shadow: 0 4px 24px rgb(0 0 0 / 4%);
  border-radius: 11px;
  color: white;
  overflow: hidden;

  &Image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center center;
    }
  }

  &Text {
    font-weight: 500;
    font-size: 25px;
    line-height: 92.2%;
  }
}
