.title {
  font-weight: 500;
  font-size: 22px;
  line-height: calc(28 / 22);
  text-align: center;
}

.method {
  margin-top: 28px;
  display: flex;
  align-items: center;
  background: $colorBg;
  border-radius: 11px;
  padding: 12px 24px;
  cursor: pointer;
  transition: background 0.25s $ease;

  &Label {
    font-size: 16px;
    line-height: calc(21 / 16);
    color: $colorGray;
  }

  &Value {
    font-weight: 500;
    font-size: 22px;
    line-height: calc(28 / 22);
  }

  &Image {
    margin-left: auto;

    img {
      max-width: 100%;
    }
  }

  &Caret {
    flex: 0 0 auto;
    margin-left: 30px;
    font-size: 0;
    color: #565656;
    transition: transform 0.25s $ease;

    svg {
      font-size: 10px;
    }
  }
}

.payments {
  margin-top: 11px;
}

.payment {
  display: flex;
  align-items: center;
  padding: 22px 0;
  border-bottom: 1px solid #ebeaea;
  cursor: pointer;

  &:last-child {
    border-bottom: 0;
  }

  &Content {
    padding-left: 25px;
  }

  &Value {
    font-weight: 600;
    font-size: 26px;
    line-height: calc(33 / 26);
  }

  &Description {
    font-size: 16px;
    line-height: calc(21 / 16);
    color: $colorGray;
  }

  &Checkbox {
    position: relative;
    margin-left: auto;
    min-width: 49px;
    min-height: 49px;
    flex: 0 0 auto;
    background: #eaf1f6;
    border-radius: 50%;
    color: white;
    font-size: 13px;
    transition: background 0.25s $ease;

    svg {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 0;
      transition: opacity 0.25s $ease;
    }
  }

  &._active {
    .paymentCheckbox {
      background: $colorPrimary;

      svg {
        opacity: 1;
      }
    }
  }

  &:hover {
    .paymentCheckbox {
      background: $colorPrimary;
    }
  }
}

.cta {
  margin-top: 14px;
}
