.container {
  position: relative;
  z-index: 1;
  overflow: hidden;
  background: #fff;
  box-shadow: 0 4px 17px rgb(0 0 0 / 12%);
  border-radius: 25px 25px 0 0;
}

.close {
  display: flex;
  justify-content: center;
  position: absolute;
  z-index: 5;
  top: 0;
  left: 0;
  right: 0;
  padding: 26px 10px;
  font-size: 0;
  cursor: pointer;
  color: white;
  transition: color 0.25s $ease;

  &Line {
    display: inline-block;
    width: 92px;
    height: 3px;
    background: #ebeaea;
    transition: background 0.25s $ease;
  }

  &:hover {
    .closeLine {
      background: $colorPrimary;
    }
  }
}

.content {
  display: block;
  padding: 56px 20px 25px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;

  &._full {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
  }
}
