.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  // overflow: hidden;
}

.header {
  position: fixed;
  left: 0;
  right: 0;
  min-width: 320px;
}

.main {
  flex: 1 0 auto;
  padding-top: 170px;
}

@include r($xl) {
  .main {
    padding-top: 102px;
  }
}

@include r($lg) {
  .main {
    padding-top: 72px;
  }
}

@include r($md) {
  .main {
    padding-top: 65px;
  }
}

@include r(414) {
  .main {
    padding-top: 62px;
  }
}
