.btn {
  appearance: none;
  display: inline-flex;
  justify-content: center;
  font-weight: 600;
  font-family: $baseFont;
  font-size: 20px;
  line-height: calc(26 / 20);
  padding: 23px 30px;
  border-radius: 11px;
  border: 0;
  cursor: pointer;
  transition: background 0.25s $ease, color 0.25s $ease, box-shadow 0.25s $ease;

  &:focus {
    outline: none;
  }

  &._primary {
    background: $colorPrimary;
    color: white;
    box-shadow: 0 4px 24px rgb(32 94 129 / 4%);

    &:hover {
      background: $colorAccent;
      box-shadow: none;
    }

    &._outline {
      background: transparent;
      border: 2px solid $colorPrimary;
      padding: 14px 24px;
      color: $colorPrimary;

      &:hover {
        color: white;
        background: $colorPrimary;
      }
    }

    &[disabled] {
      background: #b8d1e4;
      box-shadow: 0 4px 24px rgb(32 94 129 / 4%);
      border-color: #b8d1e4;
      color: white;
      cursor: not-allowed;
      pointer-events: none;
    }
  }

  &._accent {
    background: $colorAccent;
    color: white;

    &:hover {
      background: rgba($colorAccent, 0.8);
    }

    &._outline {
      background: transparent;
      border: 1px solid $colorAccent;
      color: $colorAccent;

      &:hover {
        color: white;
        background: $colorAccent;
      }
    }
  }

  &._green {
    background: #a7c97c;
    color: white;

    &:hover {
      background: rgba(#a7c97c, 0.8);
    }

    &._outline {
      background: transparent;
      border: 1px solid #a7c97c;
      color: $fontColor;

      &:hover {
        color: white;
        background: #a7c97c;
      }
    }
  }

  &._blue {
    background: #305774;
    color: white;

    &:hover {
      background: rgba(#305774, 0.8);
    }

    &._outline {
      background: transparent;
      border: 1px solid #305774;
      color: $fontColor;

      &:hover {
        color: white;
        background: #305774;
      }
    }
  }

  &._black {
    background: $fontColor;
    color: white;

    &:hover {
      background: rgba($fontColor, 0.8);
    }

    &._outline {
      background: transparent;
      border: 1px solid $fontColor;
      color: $fontColor;

      &:hover {
        color: white;
        background: $fontColor;
      }
    }
  }

  // variants
  &._small {
    padding: 11px 16px;
    font-size: 20px;
    border-radius: 11px;
  }

  &._big {
    padding: 18px 15px;
    border-radius: 12px;
  }

  &._block {
    display: flex;
    width: 100%;
  }
  // icons
  &._iconed {
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }

  &._iconLeft {
    svg {
      margin-right: 16px;
    }
  }

  &._iconRight {
    svg {
      margin-left: 16px;
    }
  }

  &._loading {
    position: relative;
    // font-size: 0;
    color: transparent;

    .spinner {
      position: absolute;
      top: 50%;
      left: 50%;
    }
  }

  &[disabled] {
    background: $colorBg;
    color: $fontColor;
    cursor: not-allowed;
    pointer-events: none;

    &:hover {
      background: $colorBg;
    }
  }
}
