.input {
  position: relative;
  display: block;

  &_wrapper {
    position: relative;
    display: flex;
    z-index: 1;

    &._withError {
      border-radius: 11px;
      outline: 1px solid $colorRed;
    }
  }

  &_input {
    appearance: none;
    display: block;
    width: 100%;
    background: white;
    font-family: $baseFont;
    font-weight: 500;
    font-size: 23px;
    line-height: calc(29 / 23);
    border: 0;
    padding: 20px 24px;
    text-align: center;
    box-shadow: 0 4px 24px rgb(32 94 129 / 4%);
    backface-visibility: hidden;
    transition: border 0.25s $ease, color 0.25s $ease, background 0.25s $ease;

    &:first-child {
      border-top-left-radius: 11px;
      border-bottom-left-radius: 11px;
    }

    &:last-child {
      border-top-right-radius: 11px;
      border-bottom-right-radius: 11px;
    }

    &::placeholder {
      color: #6a6a6a;
    }

    &:focus {
      border-color: $colorPrimary;

      &::placeholder {
        color: transparent;
      }
    }
  }

  &_mask {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    padding: 0 28px;

    &Col {
      flex: 1 1 auto;
      font-weight: 400;
      font-size: 32px;
      line-height: 41px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &Value {
      color: $colorFont;
    }

    &Placeholder {
      color: #6a6a6a;
    }
  }
}

.label {
  display: block;
  margin-bottom: 7px;
  font-size: 16px;
  line-height: calc(21 / 16);
  color: $colorGray;
}

.error {
  position: absolute;
  top: calc(100% + 5px);
  left: 0;
  display: inline-block;
  font-size: 12px;
  color: $colorRed;
  font-weight: 500;
}
