// .container{}

.box {
  background: $colorBg;
  border-radius: 11px;

  &Head {
    padding: 20px 30px;
    display: flex;
    align-items: center;
    font-size: 0;
    cursor: pointer;

    &Title {
      font-weight: 600;
      font-size: 16px;
      line-height: calc(21 / 16);
      color: $colorGray;
      padding-right: 16px;
      transition: color 0.25s $ease;
    }

    svg {
      margin-left: auto;
      flex: 0 0 auto;
      font-size: 10px;
      color: #565656;
      will-change: transform;
      transition: color 0.25s $ease, transform 0.25s $ease;
    }

    &:hover {
      .boxHead {
        &Title {
          color: $fontColor;
        }
      }
    }
  }

  &._opened {
    .boxHead {
      svg {
        transform: rotate(180deg);
      }
    }
  }

  &Content {
    padding: 0 28px 48px;
  }
}

.content {
  &Head {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 12px;

    &Title {
      font-weight: 600;
      font-size: 27px;
      line-height: calc(35 / 27);
    }
  }

  &Logo {
    margin-right: 18px;
    font-size: 0;
    min-width: 90px;

    img {
      width: 100%;
    }
  }

  &Section {
    padding: 19px 0;
    border-top: 1px solid #acacac;

    &._toggle {
      padding: 12px 0 14px;

      .contentRow {
        cursor: pointer;
        transition: color 0.25s $ease;

        &:hover {
          color: $colorPrimary;
        }
      }
    }

    &._active {
      .contentToggle {
        transform: rotate(180deg);
      }

      .contentDropdown {
        display: block;
      }
    }

    &:first-child {
      padding-top: 0;
      border-top: 0;
    }
  }

  &Row {
    display: flex;
    align-items: center;

    &._primary {
      margin: 20px 0 0;

      .contentLabel {
        font-weight: 900;
        font-size: 24px;
      }

      .contentValue {
        font-size: 24px;
      }
    }
  }

  &Label {
    font-size: 14px;
    line-height: calc(18 / 14);
    padding-right: 16px;
  }

  &Value {
    flex: 0 0 auto;
    margin-left: auto;
    font-weight: 600;
    font-size: 18px;
    line-height: calc(23 / 18);
    text-align: right;
  }

  &Toggle {
    margin-left: 20px;
    font-size: 0;
    color: #565656;
    align-self: center;
    transition: transform 0.25s $ease;
    will-change: transform;

    svg {
      font-size: 12px;
    }
  }

  &Download {
    margin-top: 28px;
    display: flex;
    justify-content: center;

    &Link {
      display: inline-flex;
      justify-content: center;
      align-items: center;

      svg {
        flex: 0 0 auto;
        margin-right: 10px;
        font-size: 24px;
        color: $colorPrimary;
      }

      span {
        font-size: 18px;
        line-height: calc(23 / 18);
        text-decoration-line: underline;
      }

      &:hover {
        span {
          text-decoration: none;
        }
      }
    }
  }

  &Dropdown {
    margin-top: 16px;
    display: none;
  }
}

.table {
  margin-bottom: 16px;

  &Row {
    display: flex;
    font-size: 16px;
    line-height: calc(21 / 16);
    background: url('/assets/img/tableDecor.svg') repeat-x left 60%;
  }

  &Label {
    font-weight: 500;
    padding-right: 10px;
    background: $colorBg;
  }

  &Value {
    margin-left: auto;
    text-align: right;
    color: $colorGray;
    background: $colorBg;
    padding-left: 10px;
  }
}

.table2 {
  width: 100%;
  border-collapse: collapse;

  thead {
    font-size: 14px;
    line-height: 18px;
    color: #919191;
  }

  tbody {
    td {
      font-weight: 600;
      font-size: 12px;
      line-height: 15px;
      text-align: right;
      vertical-align: middle;
      padding-top: 5px;
      padding-bottom: 15px;
    }
  }

  td {
    padding-left: 5px;
    padding-right: 5px;

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }
  }

  .number {
    font-weight: 600;
    font-size: 19px;
    line-height: 24px;
    text-align: left;
    vertical-align: top;
  }

  .title {
    width: 40%;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    text-align: left;

    small {
      display: block;
      font-size: 11px;
    }
  }

  .amount {
    // text-align: center;
  }
}
