.footer {
  position: relative;
  background: $fontColor;
  padding: 2rem 0 2.2rem;
  border-top: 2px solid $borderColor;
  color: white;
}

.copy {
  font-weight: bold;
  font-size: 1.8rem;
  line-height: 120%;
  text-align: center;
  letter-spacing: -0.025em;
  strong {
    @include text-decor(3px, $colorPrimary, 'short');
  }
}
