.title {
  font-weight: 600;
  font-size: 32px;
  line-height: calc(41 / 32);
  text-align: center;
}

.grid {
  margin-top: 42px;

  &Card {
    margin-bottom: 11px;

    &:not(:first-child):last-child {
      margin-bottom: 0;
    }
  }
}
